################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PaymentProcessor/v16
/obj
/PaymentProcessor.csproj.user
/bin/Debug/netcoreapp3.1
